@model School.Web.ViewModels.Administration.Dashboard.ClassSettingsViewModel

@{
    ViewData["Title"] = "Class Settings";
    Layout = "_AdminLayout";
}

<h3>@ViewData["Title"]</h3>

<p>@Model.ClassNumber @Model.Id</p>

<div class="row">
    <div class="currSubjectsPositioned">
        <h4>Current subjects</h4>
        @foreach (var subject in Model.SubjectsOwned)
        {
            <p>@subject.Name @subject.ClassNumber @subject.ClassSpecialty</p>
        }
    </div>
</div>



<div class="row">
    <div class="positioned">
        <form asp-controller="Admin" asp-action="ClassSettings" method="post" class="form">
            <h4 class="form">Choose subjects to add</h4>
                 @foreach (var subjectModel in Model.AvailableSubjectsToAdd)
                 {
                     <div class="col-sm-12">
                         <div class="form-check">
                             <input class="form-check-input"
                                    type="checkbox"
                               value="@subjectModel.Name" + ""
                                    name="SubjectNames"
                                    id="subject_@subjectModel.Name"
                                    checked="@subjectModel.IsChecked">
                             <label class="form-check-label" for="subject_@subjectModel.Name">
                                 @subjectModel.Name @subjectModel.ClassNumber @subjectModel.ClassSpecialty
                             </label>
                         </div>
                     </div>
                 }
            <div class="mb-3"></div>
            @{
                if (Model.AvailableSubjectsToAdd.Count == 0)
                {
                    <input class="btn btn-primary" type="submit" disabled value="Submit">
                }
                else
                {
                    <input class="btn btn-primary" type="submit" value="Submit">
                }
            }
        </form>

    </div>

</div>

@section AdminPanel  {
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Admin/Index">AdminPanel</a>
    </li>
            }